<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<!--    <springProperty scope="context" name="application_name" source="spring.application.name"/>-->

    <!-- Log configuration for Docker profile -->
<!--    <springProfile name="docker">-->

<!--        <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">-->
<!--            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
<!--                <providers>-->
<!--                    <timestamp>-->
<!--                        <timeZone>UTC</timeZone>-->
<!--                    </timestamp>-->
<!--                    <version/>-->
<!--                    <logLevel/>-->
<!--                    <message/>-->
<!--                    <loggerName/>-->
<!--                    <threadName/>-->
<!--                    <context/>-->
<!--                    <pattern>-->
<!--                        <omitEmptyFields>true</omitEmptyFields>-->
<!--                        <pattern>-->
<!--                            {-->
<!--                            "trace": {-->
<!--                            "trace_id": "%mdc{X-B3-TraceId}",-->
<!--                            "span_id": "%mdc{X-B3-SpanId}",-->
<!--                            "parent_span_id": "%mdc{X-B3-ParentSpanId}",-->
<!--                            "exportable": "%mdc{X-Span-Export}"-->
<!--                            }-->
<!--                            }-->
<!--                        </pattern>-->
<!--                    </pattern>-->
<!--                    <mdc>-->
<!--                        <excludeMdcKeyName>traceId</excludeMdcKeyName>-->
<!--                        <excludeMdcKeyName>spanId</excludeMdcKeyName>-->
<!--                        <excludeMdcKeyName>parentId</excludeMdcKeyName>-->
<!--                        <excludeMdcKeyName>spanExportable</excludeMdcKeyName>-->
<!--                        <excludeMdcKeyName>X-B3-TraceId</excludeMdcKeyName>-->
<!--                        <excludeMdcKeyName>X-B3-SpanId</excludeMdcKeyName>-->
<!--                        <excludeMdcKeyName>X-B3-ParentSpanId</excludeMdcKeyName>-->
<!--                        <excludeMdcKeyName>X-Span-Export</excludeMdcKeyName>-->
<!--                    </mdc>-->
<!--                    <stackTrace/>-->
<!--                </providers>-->
<!--            </encoder>-->
<!--        </appender>-->

<!--        <root level="INFO">-->
<!--            <appender-ref ref="jsonConsoleAppender"/>-->
<!--        </root>-->

<!--    </springProfile>-->

<!--    &lt;!&ndash; Log configuration for non-Docker profile &ndash;&gt;-->
<!--    <springProfile name="!docker">-->

<!--        <property name="CONSOLE_LOG_PATTERN"-->
<!--                  value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(-&#45;&#45;){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>-->

<!--        <appender name="flatConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">-->
<!--            <encoder>-->
<!--                <pattern>${CONSOLE_LOG_PATTERN}</pattern>-->
<!--                <charset>utf8</charset>-->
<!--            </encoder>-->
<!--        </appender>-->

<!--        <root level="INFO">-->
<!--            <appender-ref ref="flatConsoleAppender"/>-->
<!--        </root>-->

<!--    </springProfile>-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <timestamp key="byDay" datePattern="yyyyMMdd"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/mnt/logs/logs-call-service-${byDay}.log</file>
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>